/* all nav bar class start with n n1 t0 n10  */

.n1 {
    background: #2c2c2c;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.n2 {
    margin: auto;
}
.n3 {
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 2rem;
}
.n4 {
    color: white !important;
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 2rem !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/* all section 1 class start with id id1 t0 id10  */
.id1 {
    width: 100%;
    margin-top: -2%;
}
.id2 {
    position: absolute;
    margin-top: 27rem;
    margin-left: -4rem;
    z-index: 1;
}
.id3 {
    color: white;
    font-weight: bold;
    font-size: 5rem;
}
.id4 {
    color: white;
    font-size: 1.9rem;
}
.id5 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px;
    background: #ff6309;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    margin-top: 2rem;
}
.hv1 {
    background: #5f5f5f;
}
/* all section 2 class start with id id11 t0 id20  */

#id2 {
    background: #ff6309;
}
.id10 {
    color: white;
    font-weight: bold;
    padding-top: 3rem;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.id11 {
    color: white;
    font-size: 1.7rem;
    margin-top: 2rem;
}
.id12 {
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.id13 {
    width: 25rem;
    border: 0;
}
.id14 {
    background: #2c2c2c;
    color: white;
}
.id15 {
    font-weight: bold;
    text-transform: uppercase;
}
.id16 {
    font-size: 1.2rem;
}
.id17 {
    position: absolute;
    width: 35%;
}
/* <!-- all section 3 class start with id id30 t0 id40  -->         */

#id3 {
    background: #2c2c2c;
}
.id30 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 4rem;
}
.id31 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.id32 {
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.id33 {
    width: 100%;
    background: #ff6309;
    color: white;
}
.id35 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.id36 {
    background: #2c2c2c;
    border: 0;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: bold;
    font-size: 1.5rem;
}
.id37 {
    font-size: 6rem;
}
/* <!-- all section 3 class start with id id40 t0 id50  */ --> 


.id42 {
    max-width: 110% !important;
    width: 104%;
    margin-left: -1rem;
}
.id43 {
    background: #ff6309;
}
.id44 {
    font-weight: bold;
    color: white;
    margin-top: 25%;
    margin-left: 5%;
    font-size: 4rem;
    text-shadow: 1px 3px 1px black;
    margin-bottom: 5%;
}
.id45 {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2rem;
}
.id47 {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    background: #2c2c2c;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 5%;
    transition: all .4s ease-in-out;
}
.id47:hover {
    background: transparent;
    color: white;
    border: 1px solid #2c2c2c;
    
}
.id50 {
    width: 103%;
    margin-left: -.8rem;
}
.id41 {
    background: #ff6309;
}
.id51 {
    margin-top: 0 !important;
}
/* <!-- all section 4 class start with id id55 t0 id65  */ --> 

#id4 {
    background: #2c2c2c;
    color: white;
    text-align: center;
}
.id58 {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 10%;
    margin-bottom: 5%;
}
.id59 {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.6rem;
}
.id60 {
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}
.id61 {
    font-weight: bolder;
    font-size: 4rem;
}
.id62 {
    font-weight: bold;
}
 /* all section 5 class start with id id65 t0 id75    */

 .id66 {
    position: absolute;
    text-align: center;
    margin-top: 25%;
}
.id67 {
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
}
.id68 {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3rem;
}
.id69 {
    max-width: 130%;
    width: 100%;
}
.id70 {
    justify-content: center;
}
 /* all section 6 class start with id id75 t0 id85    */

.id75 {
    padding-top: 10%;
    padding-bottom: 5%;
}
.id76 {
    text-align: center;
}
.id77 {
    font-size: 4.5rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 4%;
    text-shadow: 1px 2px 7px black;
}
.id78 {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.7rem;
    padding-bottom: 3%;
}
 .id80 {
    width: 35%;
    font-size: 1rem;
    padding: .5rem;
    outline: none;
}
.id81 {
    color: white;
    text-transform: uppercase;
    background: #2c2c2c;
    border: 0;
    border-radius: 0;
    padding: 0.6rem;
    margin-bottom: .1rem;
}
.id82 {
    position: absolute;
    height: 80%;
    opacity: 50%;
}
.id83 {
    position: absolute;
    right: 0;
    height: 80%;
    opacity: 50%;
}
/* footer is start now  */
.f1 {
    font-weight: bolder;
    margin-bottom: 2%;
    font-size: 2.2rem;
}
.f2 {
    font-size: 1.3rem;
}
.f4 {
    margin-right: 1rem;
    background: #fff;
    color: #2c2c2c;
    border-radius: 50%;
    padding: .2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    font-size: 2rem;
    padding-bottom: 0px;
    padding-top: 0px;
}
.f5 {
    font-weight: bolder;
}
.f6 {
    list-style: disclosure-open;
    text-align: inherit;
}
.f7 {
    margin-bottom: .5rem;
    cursor: pointer;
}

footer {
    background: #2c2c2c;
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}