/* all tab  */

@media only screen and (max-width:1024px) {
 /* all nav class start with n1 to n10  */
 .n4 {
    text-transform: capitalize;
    font-size: 1.3rem;
 }
 .id2 {
    position: absolute;
    margin-top: 15rem;
    margin-left: 1rem;
}
.id3 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}
.id4 {
    color: white;
    font-size: 1.2rem;
}
.id11 {
    font-size: 1.4rem;
}
.id13 {
    width: 18rem;
    border: 0;
}
.id12 {
    margin-left: -3.5rem;
}
.id33 {
    width: 125%;
    background: #ff6309;
    color: white;
}
.id42 {
    width: 106%;
}
.id83 {

    height: 30%;
}
.id82 {

    height: 30%;
}
.f7 {
    margin-bottom: .5rem;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
}
.f2 {
    font-size: 1rem;
}
.f8 {
    width: 40%;
}
.f9 {
    width: 20%;
}

}

/* all tab  */

@media only  screen and (max-width:834px ) {
    .n3 {
        margin-left: auto;
    }
    .n4 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        margin-top: 0;
    }
    .id2 {
        position: absolute;
        margin-top: 16rem;
        margin-left: 0rem;
        z-index: 10;
    }
    .id3 {
        color: white;
        font-weight: bold;
        font-size: 2.6rem;
    }
    .id4 {
        color: white;
        font-size: 1.1rem;
    }
    .id5 {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0px;
        background: #ff6309;
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: .5rem;
        margin-top: -0.2rem;
    }
    .id1 {
        width: 100%;
        padding-top: 6%;
    }
    .n1 {
        margin-top: -0.2rem;
        z-index: 12;
    }
    .id11 {
        font-size: 1.2rem;
    }
    .id10 {
        font-size: 3.1rem;
    }
    .id13 {
        width: 14rem;
        border: 0;
    }
    .id12 {
        justify-content: space-around;
        margin-bottom: 3rem;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-left: -3rem;
    }
    .id16 {
        font-size: .8rem;
    }
    .id30 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 2rem;
        font-size: 3.3rem;
    }
    .id31 {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .id33 {
        width: 125%;
        background: #ff6309;
        color: white;
        font-size: .9rem;
    }
    .id37 {
        font-size: 4.5rem;
    }
    .id33 {
        color: white;
        font-size: .9rem;
    }
    .id35 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    .id42 {
        width: 108%;
    }
    .id44 {
        font-weight: bold;
        color: white;
        margin-top: 25%;
        margin-left: 5%;
        font-size: 2.5rem;
        text-shadow: 1px 3px 1px black;
        margin-bottom: 5%;
    }
    .id45 {
        color: white;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.6rem;
    }
    .id59 {
        font-size: 1.3rem;
    }
    .id62 {
        font-weight: bold;
        font-size: 1.3rem;
    }
    .id67 {
        font-size: 1.5rem
    }
    .id77 {
        font-size: 3.5rem;
    }

}
/* all mobile  */
@media only screen and (max-width:428px) {
    .n5 {
        max-width: 75%;
    }
    .id1 {
        width: 100%;
        padding-top: 6%;
        display: none;
    }
    .id1 {
        width: 100%;
        padding-top: 6%;
        display: none;
    }
    .hv1 {
        background: #5f5f5f;
        width: 100%;
        height: 40vh;
    }
    .id2 {
        position: absolute;
        margin-top: 7rem;
        margin-left: 0rem;
        z-index: 10;
    }
    .id13 {
        width: 100%;
        border: 0;
        margin-bottom: 2rem;
        box-shadow: 2px 0px 6px 2px white;
    }
    .id16 {
        font-size: 1.1rem;
    }
    .id12 {
        justify-content: space-around;
        margin: auto;
    }
    .id33 {
        width: 100%;
        background: #ff6309;
        margin-bottom: 2rem;
    }
    .id47 {
        margin-bottom: 5%;
    }
    .id44 {
        margin-top: 8%;
    }
    .id41 {
        margin-top: 2rem;
    }
    .id52 {
        margin-top: 2rem;
    }
    #id4 {
        margin-top: 2rem;
    }
    .id58 {
        font-size: 3rem;
    }
    .id59 {
        font-size: 1.3rem;
        padding: 0;
    }
    .id60 {
        margin-left: auto;
    }
    .id68 {
        font-size: 2rem;
    }
    .id67 {
        font-size: 1rem;
    }
    .id80 {
        width: 65%;
    }
    .id78 {
        color: white;
        font-size: 1.2rem;
        padding-bottom: 3%;
        padding-left: 0;
        padding-right: 0;
    }
    .id75 {
        padding-top: 10%;
        padding-bottom: 5%;
        margin-top: 2rem;
    }
    .id83 {
        height: 30%;
        display: none;
    }
    .id82 {
        height: 30%;
        display: none;
    }
    .f7 {
        margin-bottom: .5rem;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: inherit;
    }
    .f5 {
        font-weight: bolder;
        margin-top: 1rem;
        font-size: 2.5rem;
    }
    .f9 {
        width: 100%;
        text-align: center;
    }
    .f8 {
        width: 100%;
    }
}
@media only screen and (max-width:375px) {
    .hv1 {
        background: #5f5f5f;
        width: 100%;
        height: 48vh;
    }
}