/* tabe  */
@media only  screen and (max-width:1240px) {
    .t1 {
        width: 18rem;
    }
    .z1 {
        margin-left: -10px;
        width: 105%;
        max-width: 110%;
    }
    .z3 {
        color: white;
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .z4 {
        color: white;
        font-size: 1.5rem;
    }
    .z7 {
        margin-left: 2rem;
        font-weight: bold;
        text-shadow: 1px 2px black;
        color: white;
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .x4 {
        color: white;
        font-size: 3.5rem;
    }
    .v3 {
        margin: auto;
        padding-top: 10rem;
    }
    .v8 {
         left: 311px;;
    }
    .k12 {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 1024px) {
    

    html {
        font-size: 85%;
    }
    .b3 {
        font-size: 4rem;
    }
    .b4 {
        font-size: 1.5rem;
    }
    .n6 {
        padding-top: 5rem;
    }
    .n9 {
        font-size: 1.2rem;
    }
   
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-top: 4rem;
    }
    .card-title {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: revert !important;
    }
    .card-text:last-child {
        margin-bottom: 0;
        font-size: 1.2rem;
    }
}
@media only  screen and (max-width:834px) {
    .k12 {
        font-size: 1.1rem;
    }
    .k14 {
        font-size: 1.2rem;
    }
    .v8{
        top: -61px;
        left: 217px;
    }
    .x5 {
        color: #dcdcdc;
        font-size: 1.3rem;
        margin-top: 3rem;
    }
    .x4 {
        color: white;
        font-size: 2.9rem;
    }
    .z7 {
        margin-left: 2rem;
        font-weight: bold;
        text-shadow: 1px 2px black;
        color: white;
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .z9 {
        margin-left: 2rem;
        color: white;
        font-size: 1.5rem;
    }
    .t1 {
        width: 15rem;
        margin-top: 4rem;
    }
    .card-body {
        padding: 1rem 1rem;
    }
    .card-title {
        font-size: 1.5rem;   
    }
    .card-text:last-child {
        font-size: 1.2rem;
    }

    html {
        font-size: 72%;
    }
    .n5 {
        opacity: 100% !important;
        padding: 1rem !important;
        text-align: start;
    }
    .n6 {
        padding-top: 4rem;
    }
    .bg-1 {
        background: white;
        opacity: 50% !important;
    }
    .f1{
        width: 25%;
    }
    .n8 {
        font-size: 1.2rem;
    }
    .n9 {
        font-size: 1.2rem !important;
    }
    .b3 {
        font-size: 4rem;
    }
    .b4 {
        font-size: 1.4rem;
    }

}
@media only screen and (max-width:414px) {
    
    .k1 {
        padding-top: 10rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .k1 {
        padding-top: 10rem;
        padding-bottom: 3rem;
        text-align: center;
    }
    .k12 {
        font-size: 2rem;
        text-transform: lowercase;
    }
    .k11 {
        color: #fff;
        font-size: 3.3rem;
        padding-left: 24px;
        margin-top: 2rem;
        font-weight: bold;
        text-transform: capitalize;
        text-shadow: 1px 1px 2px black;
    }
    .k14{
        margin-bottom: 2rem;
    }
    .k1 {
        padding-top: 10rem;
        padding-bottom: 15rem;
        text-align: center;
    }
    .v8 {
        top: -61px;
        left: 143px;
    }
    .n10 {
        text-align: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .n00 {
        width: 100%;
    }
    .m2 {
        font-size: 2.2rem;
    }
    .z6 {
        background: #edb57c;
        margin-top: 2rem;
    }
    .x1 {
        background: #edb57c;
        width: 104%;
        max-width: 110%;
    }
    .z0 {
        background: #f6a54e;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
    .z8 {
        width: 109%;
        max-width: 110%;
        margin-left: -9px;
        overflow: hidden;
    }
    .z5 {
        background: #f6a54e;
        font-weight: inherit;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .l1 {
        width: 100%;
    }
    .t1 {
        width: 30rem;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body {
        padding: 3rem 1rem;
    }
    .card-title {
        font-size: 2rem;
    }
    .card-text:last-child {
        font-size: 1.4rem;
    }
    .f1 {
        width: 45%;
    }
    .c1 {
        width: 65%;
    }
    .n6 {
        font-size: 4rem;
        color: #edb57c;
        padding-top: 4rem;
        text-shadow: #0000 1px 0 10px;
    }
    .n9 {
        font-size: 1.1rem !important;
    }
    .n8 {
        font-size: 1.2rem;
        text-shadow: 1px 1px 2px white;
    }
    .b3 {
        font-size: 3rem;
    }
    .b4 {
        font-size: 1.2rem;
    }
    .b1 {
        top: 15rem;
    }

}