@font-face {
    font-family: 'master';
    src: url(../fonts/myriad-pro-cufonfonts/ttf/AnyConv.com__MYRIADPRO-BOLD.ttf) format('truetype');
}
@font-face {
    font-family: 'master-100';
    src: url(../fonts/myriad-pro-cufonfonts/ttf/AnyConv.com__MYRIADPRO-BOLDCOND.ttf) format('truetype');
}

    html {
        overflow-x: hidden;  
       }

:root {
 --text: #54524f;
 --titel: #deb37e;
 --btn:  #776c64;
}
/* nav baner start  */
.n1 {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.n2 {
    background: #c6c0bd;
    margin-right: -3.5rem !important;
    padding: .8rem;
}
.n3 {
    color: #6a635f;
    font-weight: bolder;
    margin-top: 7px;
    margin-left: -1px;
    font-size: 2rem;
}
.n5 {
    opacity: 100% !important;
    padding: 2rem !important;
    font-family: 'master' , sans-serif , unset ;
}
.n4 {
    margin-right: 3rem;
}
.n0 {
    background: url(../img/nav.png);
    background-position: center;
    background-size: cover;
}
.n6 {
    font-size: 5rem;
    color: #edb57c;
    padding-top: 14rem;
    text-shadow: #0000 1px 0 10px;
}
.n7{
    font-weight: 800 !important;
    color: #54514e;
    letter-spacing: 1px;
    margin-top: 2rem;
    padding: .7rem  1rem;
} 
.n8 {
    color: #54514e;
    padding-top: 3rem;
    text-transform: capitalize;
    font-size: 1.4rem;
}
.n9 {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: bold;
    color: #54514e;
}
.d1 {
    width: 100%;
    position: absolute;
}
.d2 {
    width: 100%;
}
html {
    font-size: 100% ;
}

.b4 {
    color: #837870;
    font-size: 2rem;
}
.b3 {
    color: #f6a54e;
    font-weight: bolder;
    font-family: OpenSans;
    font-size: 5rem;
    text-transform: uppercase;
}
.b1 {
    position: relative;
    top: 20rem;
    text-align: center;
}

/* cade start now  */

#cade {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 3rem 1rem;
    background: #837870;
    color: white;
}
.card-title {
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: bold;
}
.card-text:last-child {
    margin-bottom: 0;
    font-size: 1.4rem;
}
.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 2rem;
}
.t1 {
    width: 25rem ;
}
.s1 {
    margin-top: 3rem;
    text-align: center;
}
.s3 {
    color: white;
    background: #837870;
    text-transform: uppercase;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    text-align: center;
    padding-bottom: .7rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
}
.s3:hover{
    color: #837870 ;
    background: white;
    border: 1px solid #837870;
    transition: ease-in-out;
    transition-delay: .8s ;
}
.img1 {
    position: absolute;
    overflow: hidden;
    width: 55%;
    left: -10px;
}
/* diccint start now  */

.z1 {
    margin-left: -10px;
    width: 103%;
    max-width: 103%;
}
.z2 {
    background: #837870;
    padding-left: 3rem;
}
.z3 {
    color: white;
    font-size: 4rem;
    margin-top: 9rem;
    margin-bottom: 2rem;
}
.z4 {
    color: white;
    font-size: 2rem;
}
.z5 {
    background: #f6a54e;
    font-weight: inherit;
    margin-top: 4rem;
}
.z6 {
    background: #edb57c;
}
.z8 {
    width: 104%;
    max-width: 110%;
    margin-left: 1px;
    overflow: hidden;
}
.z7 {
    color: white;
    font-size: 4rem;
    margin-top: 9rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-weight: bold;
    text-shadow: 1px 2px black;
}
.z9 {
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
}
.z0 {
    background: #f6a54e;
    margin-top: 2rem;
    margin-left: 1rem;
}
/* stction 3 start  */
 
.x2 {
   background: #99928d ; 
}
.x3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}
.x4 {
    color: white;
    font-size: 4.5rem;
}
.x5 {
    color: #dcdcdc;
    font-size: 1.3rem;
    margin-top: 5rem;
}
.x6 {
    position: relative;
    width: 100%;
}
/* section class-m-all  star  */
.m1 {
    width: 100%;
    margin-top: -10%;
}
.m2 {
    position: absolute;
    margin-left: 55%;
    margin-top: 20%;
    font-weight: bold;
    font-size: 5rem;
    font-style: italic;
    line-height: 1;
    text-shadow: 3px 3px 2px white;
}
.m3 {
    color: #edb57c;
    text-shadow: 1px 1px 2px black;
}
.m5 {
    width: 100%;
    position: relative;
    margin-top: -12%;
}
/* section class-n-all  star  */
.n10 {
    text-align: center;
    justify-content: space-around;
}
.n20 {
    color: #edb57c;
    font-weight: bold;
}
.n30 {
    color: #2a3b40;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* section class-p-all  star  */
.p1 {
    font-weight: bolder;
    font-size: 6rem !important;
}
.p2 {
    font-size: 1.5rem;
}
.p3 {
    font-weight: bold;
    margin-top: 2rem;
}
.p4 {
    position: absolute;
    width: 27%;
    right: 0;
    padding-right: 1px;
}
.p5 {
    position: relative;
    width: 100%;
}
/* section class-l-all  star  */

.v1 {
    background: #edb57c;
    margin-top: -10%;
}
.v2 {
    text-align: center;
}
.v3 {
    margin: auto;
    padding-top: 25rem;
}
.v4 {
    font-weight: bold;
    color: white;
    font-size: 7rem;
    text-shadow: 1px 2px 1px black;
    font-style: italic;
}
.v5 {
    color: #5f5751;
    font-size: 2rem;
    margin-top: 3rem;
    font-style: italic;
    margin-bottom: 2rem;
}
.v7 {
    padding: .8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.v8 {
    background: #54514e;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    top: -71px;
    padding: .8rem;
    left: 372px;
}
.v9 {
    width: 100%;
    margin-top: -5%;
}
#last {
    background: #837870;
    margin-top: -10%;
}
.k1 {
    padding-top: 25rem;
    padding-bottom: 15rem;
}
.k2 {
    color: #fff;
    font-size: 3rem;
}
.k6 {
    color: #837870;
    background: white;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center !important;
    padding: .5rem;
}
.k11 {
    color: #fff;
    font-size: 2.2rem;
    padding-left: 24px;
}
.k12 {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
}
.k14 {
    color: white;
    font-size: 1.5rem;
    padding-top: 2rem;
}
.a1 {
    width: 100%;
    text-align: center;
    background: white !important;
}
.a2 {
    text-transform: capitalize;
    font-size: 2rem;
    padding: 1rem;
    color: #837870;
}