/* tab  */
@media only screen and (max-width:1024px) {
    .n3 {
        margin-right: 1.5rem;
    }
    .h2 {
        font-size: 3.5rem;
    }
    .a1 {
        font-size: 3.5rem;
    }
    .t1 {
        font-size: 3.5rem;
    }
    .x1 {
        margin-top: 16%;
    }
    .t6 {
        display: flex;
        place-items: center;
    }
    .e4 {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .n6 {
    font-size: 2.5rem
     }
    .n7 {
        font-size: 1.3rem;
    } 
    .c4 {
        text-align: center;
    }
    .n3 {
        place-items: center;
        display: flex;
    }
  
    /* .e5 {
        text-align: center;
    } */
}
@media only  screen and (max-width:835px) {
    .h2 {
        font-size: 2.5rem;
    }
    .h3 {
        font-size: 1.3rem;
    }
    .a1 {
        font-size: 2.5rem;
    }
    .t1 {
        font-size: 2.5rem;
    }
    .t2 {
        font-size: 1.2rem;
    }
    .e1 {
        color: #434e5b;
        font-weight: bolder;
        font-size: 1rem;
    }
    .s5 {
        font-size: 1.5rem;
    }
    .n6 {
        font-size: 2.3rem;
    }


}
/* fore mobile  */
@media only  screen and (max-width:430px) {
   
    .n1 {
        width: 70%;
    }
    .h5 {
        background-position: top right;
    }
    .h1 {
        display: none;
    }
   .c1 {
    margin-top: 2rem;
    place-items: center;
    box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.438);
   }
   .t7 {
    text-align: center;
    }
    .t1 {
        display: block;
    }
    .e4 {
        background: white;
    }
    .e5 {
        text-align: center;
    }
    .e1 {
        color: #434e5b;
        font-weight: bolder;
        font-size: 2.5rem;
    }
    .e6 {
        margin-left: auto;
    }
    .e7 {
        position: absolute;
    }
   .s7 {
    background-position: top right;
   }
   .s4 {
    margin-top: 2rem;
   }
   .s5 {
       font-size: 2rem;
   }
   .n4 {
    text-align: center;
    }
    .m1 {
        font-size: 3.5rem;
    }

}

        /* footer css from bootstrap only  */

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }