:root {
    --text:#434e5b;
}


/* all nav-baner star with n1 to n3  */
.n2 {
    margin-left: auto;
}
.n3 {
    color: #434e5b !important;
    opacity: 100%;
    font-size: 1.5rem;
    margin-right: 2.5rem;
}
/* main header is start h1 to h5  */

.h2 {
    color: #434e5b;
    font-weight: bolder;
    font-size: 4rem;
    margin-top: 12%;
    margin-bottom: 5%;
}
.h3 {
    color: #434e5b;
}
.h4 {
    background: #f1c9c4;
    font-weight: bolder;
    text-transform: uppercase;
    color: #434e5b;
    margin-top: 10%;
    border-radius: 0;
}
.h5 {
    background: url(../img/grup1.png) ;
    background-size: cover;
}

/* about is start a1 t0 a3  */

.a1 {
    color: var(--text);
    font-weight: bolder;
    font-size: 4rem;
    margin-top: 10%;
}
.a2 {
    color: var(--text);
    font-size: 1.5rem;
    margin-top: 8%;
}
.a3 {
    background:url(../img/grup2.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* all cards start width c1 to c6  */

.c1 {
    width: auto;
    place-items: center;
}

.c3 {
    text-align: center;
    font-weight: bolder;
    color: #434e5b;
}
.c4 {
    color: #434e5b;
}
.c5 {
    margin-bottom: 3rem !important;
    margin-top: 2rem;
}
.c6 {
    margin-top: 1rem;
}
.x1 {
    margin-top: 24%;
}
.x2 {
    margin-top: 5%;
}
/* all Trainig start width t1 t5 t  */

.t1 {
    font-weight: bolder;
    color: #434e5b;
    font-size: 4rem;
    place-items: center;
    display: flex;
}
.t2 {
    color: #434e5b;
    font-size: 1.5rem;
}
.t3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.t5 {
    background: url(../img/grup7.png);
    background-size: cover;
}

/* all Trainig start width e1 e0 t  */

.e1 {
    color: #434e5b;
    font-weight: bolder;
    font-size: 4rem;
}
.e2 {
    color: #434e5b;
    font-size: 1.5rem;
    margin-top: 5%;
}
.e4 {
    background: url(../img/grup4.1.png);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}
.e6 {
    text-align: center;
    margin-left: 6rem;
}
/* all shop start width s1 e0 t  */
.s1 {
    color: #434e5b;
    font-weight: bolder;
    font-size: 4rem;
}
.s2 {
    color: #434e5b;
    font-size: 1.5rem;
    margin-top: 3%;
}
.s3 {
    margin-top: 3%;
    margin-bottom: 3%;
}
.s4 {
    text-align: center;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.548);
}
.s5 {
    color: #434e5b;
    font-weight: bolder;
    font-size: 2rem;
}
.s6 {
    color: #434e5b;
}
.s7 {
    background: url(../img/grup5.png);
    background-size: cover;
}
/* all new start width n1 n0 t  */
#new {
    background: #efcdc7;
    padding-top: 10%;
    padding-bottom: 5%;
}
.n0 {
    color: white;
    background: #434e5b;
    margin-left: 1.5rem;
    border-radius: 0;
    padding: .3rem .5rem;
    font-size: 2rem;
    margin-top: 3%;
}
.n6 {
    font-size: 4rem;
    font-weight: bolder;
    color: #434e5b;
}
.n7 {
    color: #434e5b;
    font-size: 1.5rem;
}
/* all content start with m1 to m0  */
.m1 {
    color: #434e5b;
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
}
.m2 {
    color: #434e5b;
    font-size: 1.5rem;
    text-align: center;
}
.m4 {
    background: #f0f0f0;
    padding: 1rem;
        padding-bottom: 1rem;
    padding-bottom: 4rem;
}
.m5 {
    background: #f0f0f0;
    padding: 1rem;
}
.m6 {
    background: #f0f0f0;
    padding: 1rem;
}
.m9 {
    background: #f1c9c4;
    border-radius: 0;
    color: #434e5b;
    font-weight: bolder;
}
.m8 {
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 2%;
}
.m7 {
    background: url(../img/grup7.png);
    background-size: cover;
}
/* all footer class start width f1 to f0  */


.f2 {
    background: #434e5b;
    position: absolute;
    width: 100%;
}
.f3 {
    color: white !important;
}