*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.nav-bg-id {
    background: url(../img/bg.png);
    background-position: center;
    background-size: cover;

}
.link{
    letter-spacing: 0.1rem;
}
.font {
    font-size: 1.1rem;
}
.box {
    list-style: none;
    position: absolute;
    top: 6rem;
    right: 7rem;
    color: #3d2514;
}
.color {
    color: #3d2514;
    text-align: center;
}
.color:hover{
    color: #3d2514 !important; 
}
.new {
    padding-top: 2rem;
}
.pd {
    margin-left: 1.6rem;
}
.img {
    max-width: 85%;
    height: auto;
}

@media  only screen and  (max-width:991px)  {
    .f3 {
        width: 75% !important;
    }
    .master1 {
        margin-top: 8rem;
        margin-left: 17rem !important;
    }
    .i5 {
        display: none !important;
    }
    .no {
        display: none !important;

    }  
    html {
        font-size: 66% !important;
    }
    .mix{
        display: none !important;
    }
    .box {
        list-style: none;
        position: static;
        top: 6rem;
        right: 7rem;
        color: #3d2514;
        flex-direction: column;
        outline: none;
    }
    .color {
        text-align: left;
    }
    .img {
        max-width: 65%;
        height: auto;
    }
    .pd {
        margin-left: 0;
    }
}
.main {
    font-size: 1.9rem;
    border: dashed;
    margin-top: 5rem;
    text-align: left;
    color: #3d2514;
}
.come {
    font-weight: bolder;
    font-size: 9rem;
    text-transform: uppercase;
    color: #3d2514;
    text-shadow: 3px 3px 4px silver;
    text-align: left;
    margin-bottom: -1rem;
}
.to {
    text-shadow: 3px 3px 4px silver;
    font-size: 4rem;
    font-weight: bolder;
    color: #3d2514;

}
.price {
    color: #fefefc;
    
}

.mac {
    position: absolute;
    
}
.mix {
    position: absolute;
    top: 26rem;
    right: 35rem;
    z-index: 10;
}
.llb {
    position: relative;
    color: #fffbff;
    top: -8rem;
    right: -3rem;
    font-size: 2rem;
}


/* menu start  */

.menu-1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.menu2 {
    margin-bottom: 2.2rem;
}
.menu3 {
 font-weight: bold;
}
.menu4 {
    font-weight: bolder;
    font-size: 2.5rem;
}
.menu6 {
    color: #3d2514 ;
    background: #ffc045;
    margin-bottom: 2rem;
    margin: auto;
}
.menu7 {
    color: #3d2514;
    margin: auto;
    font-weight: 900;
}
.menu8 {
    margin-top: 2rem;
    color: #3d2514;
    text-align: center;
}
/* product start  */

.p-1 {
    margin-bottom: 4rem;
    text-align: center;
    color: #3d2514;
}
.p2 {
    display: block;
    background: black;
    max-width: 10rem;
    height: 3rem;
    border-radius: 48%;
    opacity: 0.1;
    position: relative;
    top: 26%;
    left: 20%;
}
.p3{
    background: #bf2222 ;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 0%;
    padding: 8px 20px ;
}

/* potfolio start  */

.p1 {
    color: #3d2514;
    text-transform: uppercase;
} 
.p21 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #3d2514;
}
.p0:checked {
    background-color: #ffbf4b !important;
    border-color: #ffbf4b !important;
}
/* tabel start  */
.t1 {
    font-weight: bold;
    color: #3d2514;
}
.t2 {
    color: #3d2514;
    font-weight: 900 ;
    letter-spacing: 3px;
}
/* tabel start  */
.i1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;

}
.i2 {
    width: 100%;
    padding: .6rem;
    margin: 1rem;
}
.i3 {
    background: #de1d1e;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    outline: none;
}
.i5 {
    position: absolute;
    left: 0;
}
/* footer start  */
.master {
    background: url(../img/footer.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;
}
.f2 {
    color: white;
    margin-left: 2rem;
    margin-top: 2rem;
}
.f1 {
    color: white;
    margin-left: 2rem;
}
.f3 {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
}
.f5 {
    color: white;
    font-weight: bolder;
    margin-left: 2rem;
}

.f4 {
    color: white;
    font-weight: bolder;
    margin-top: 6rem;
    margin-left: 2rem;
}
.f6 {
    font-size: 2rem !important;
}
.master1 {
    margin-top: 8rem;
    margin-left: 27rem;
}
.master2 {
    width: 2rem;
    display: inline-flex;
    height: 2rem;
    background: white;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: .5rem;
    color: #333;
}