@media only screen and (max-width:441px) {
    master1 {
        margin-top: 8rem;
        margin-left: 27rem;
        margin-bottom: 2rem !important;
    }
    .main {
        font-size: 1.9rem;
        border: none;
        margin-top: 5rem;
        text-align: left;
        color: #3d2514;
    }
    /* .img-fluid {
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 1rem;
        z-index: 4;
        opacity: 0.7;
    } */
    .bbl {
        position: absolute;
        z-index: 1;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 4;
    }
    .ctstem {
        opacity: 0.6;
    }
  .menu5 {
      margin-bottom: 2rem;
  }
  .card-img-overlay {
    z-index: 5;
    }
    .fw-bold {
    font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    .m1{
        margin-bottom: 2rem;
    }
    .s1 {
        text-align: center;
    }
    .s2{
        display: none !important;
    }
    .i2 {
        width: 95%;
        padding: .6rem;
        margin: 1rem;
    }
}

/* custum for tab  */
@media only screen and (max-width:834px) {
    .main{
        border: none;
    }
    .come {
        font-size: 7rem;
    }
    .i5 {
        display: none !important;
    }

}
